<div class="tool">
  <a href="#"><img class="tool-logo" src="assets/figma.png" alt="figma"></a>
  <h3 class="tool-title home-footer-title">Want to mockup?</h3>
  <a class="tool-link">Use our Figma's library</a>
</div>

<div class="tool">
  <a href="#"><img class="tool-logo" src="assets/github.png" alt="github"></a>
  <h3 class="tool-title home-footer-title">Need an evolution?</h3>
  <a href="https://github.com/LuccaSA/lucca-front" target="_blank" class="tool-link">Contribute on GitHub</a>
</div>
