<app-header></app-header>
<app-nav-side>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="voice">Voice & Tone <label class="label palette-primary">To do ⛏️</label></app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="vocabulary">Vocabulary <label class="label palette-primary">To do ⛏️</label></app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="ponctuation">Ponctuation <label class="label palette-primary">To do ⛏️</label></app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="format" disabled>Format values <label class="label palette-primary">To do ⛏️</label></app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="typographic" disabled>Typographic rules <label class="label palette-primary">To do ⛏️</label></app-nav-side-item>
</app-nav-side>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
