<app-header></app-header>
<app-nav-side>
  <app-nav-side-item routerLink="voice" class="is-active">Voice & Tone <label class="label palette-primary">To do</label></app-nav-side-item>
  <app-nav-side-item routerLink="vocabulary">Vocabulary <label class="label palette-primary">To do</label></app-nav-side-item>
  <app-nav-side-item routerLink="ponctuation">Ponctuation <label class="label palette-primary">To do</label></app-nav-side-item>
</app-nav-side>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
