<app-header></app-header>
<app-nav-side>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="voice">Voix et Tons <label class="label palette-primary">To do ⛏️</label></app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="vocabulary">Vocabulaire <label class="label palette-primary">To do ⛏️</label></app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="ponctuation">Ponctuation <label class="label palette-primary">To do ⛏️</label></app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="format" disabled>Formats <label class="label palette-primary">To do ⛏️</label></app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="typographic" disabled>Règles typographiques <label class="label palette-primary">To do ⛏️</label></app-nav-side-item>
</app-nav-side>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
