<div class="card">
  <div class="card-content">
    <h1>Accessibility</h1>
    <p class="strong">Candy canes macaroon muffin jelly beans icing cheesecake jelly-o chocolate cake jelly-o. Gummies tart bear claw biscuit chupa chups apple pie powder ice cream cheesecake. Gummies sugar plum sweet roll candy canes.</p>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Pie pastry cotton</h2>
    <p>Tootsie roll toffee chocolate bar. Muffin tootsie roll sugar plum chupa chups. Donut candy canes marshmallow.</p>
    <p>Apple pie lemon drops oat cake marzipan chocolate bar. Dessert pastry sweet liquorice candy canes wafer ice cream pastry chocolate. Ice cream fruitcake cheesecake liquorice sesame snaps jelly pudding oat cake gummies.</p>
    <p>Candy canes macaroon muffin jelly beans icing cheesecake jelly-o chocolate cake jelly-o. Gummies tart bear claw biscuit chupa chups apple pie powder ice cream cheesecake. Gummies sugar plum sweet roll candy canes.</p>
    <p>Toffee biscuit soufflé marzipan bear claw. Lemon drops caramels ice cream bear claw. Lemon drops sweet roll jelly-o cookie.</p>
  </div>
</div>
