@import "node_modules/@lucca-front/scss/src/theming.overridable";
@import "~@lucca-front/scss/src/mixins";

:host {
  border-bottom: 1px solid _theme('commons.background.darker');
  background: white;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  line-height: 4rem;
  z-index: 20;
}

.header-logo {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1.5rem;
  text-decoration: none;
  color: _color("text.purple");
  transition: background 150ms ease;

  &:hover {
    background: _theme('commons.background.dark');
  }
}

app-nav {
  float: right;
}
