<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Chips</h1>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Basiques</h2>
    <html-code-tabs [code]="chipBasicCode"></html-code-tabs>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Non supprimables</h2>
    <html-code-tabs [code]="chipUnkillable"></html-code-tabs>
    <em><i class="lucca-icon">info</i> Ce mod suffit à cacher le bouton de suppression</em>
  </div>
</div>
