<!-- <div class="card">
	<div class="card-dependencies">
		<label class="label palette-scss">SCSS</label>
	</div>
	<div class="card-content">
		<h1 class="mod-headline">Chips</h1>
		<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae officia qui neque aliquam explicabo mollitia itaque rem fugiat, quam excepturi modi hic dolor natus, doloribus commodi quidem laudantium illo voluptas?</p>
		<hr>
		<ds-examples-browser [examples]="examples"></ds-examples-browser>
	</div>
</div> -->
<ds-title-block [infos]="infos">
	What it does
</ds-title-block>
