<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Chips</h1>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Basiques</h2>
    <div class="chip">
  		Ned Stark
  		<button class="chip-kill"></button>
  	</div>
  	<div class="chip">
  		Tywin Lannister
  		<button class="chip-kill"></button>
  	</div>
  	<div class="chip">
  		Drogo
  		<button class="chip-kill"></button>
  	</div>
    <div class="chip">
  		Joffrey Baratheon
  		<button class="chip-kill"></button>
  	</div>
<code class="code mod-block">&lt;div class="chip"&gt;
	...
	&lt;button class="chip-kill"&gt;&lt;/button&gt;
&lt;/div&gt;
</code>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Non supprimables</h2>
    <div class="chip mod-unkillable">
			Connor MacLeod
		</div>
		<div class="chip mod-unkillable">
			Claire Bennet
		</div>
		<div class="chip mod-unkillable">
			Wade Winston Wilson
		</div>
<code class="code mod-block">&lt;div class="chip mod-unkillable"&gt;
	...
&lt;/div&gt;
</code>
  <em><i class="lucca-icon">info</i> Ce mod suffit à cacher le bouton de suppression</em>
  </div>
</div>
