@import "~@lucca-front/scss/src/theming.overridable";

:host {
  display: block;
  cursor: pointer;
  outline: none;
}

.navSideGroup-title {
  padding: .5rem .5rem .5rem 1.5rem;
  font-weight: 600;

  &:hover {
    background: white;
    color: _color("text.purple");
  }
}
