<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Buttons</h1>
  </div>
</div>

<div class="card" id="code">
  <div class="card-content">
    <h2>Basiques</h2>
    <button class="button">Default</button>
    <button class="button mod-flat">.mod-flat</button>
    <button class="button mod-wired">.mod-wired</button>
    <button class="button mod-filling">.mod-filling</button>
<code class="code mod-block">&lt;button class="button"&gt;...&lt;/button&gt;
&lt;button class="button mod-flat"&gt;...&lt;/button&gt;
&lt;button class="button mod-wired"&gt;...&lt;/button&gt;
&lt;button class="button mod-filling"&gt;...&lt;/button&gt;
</code>
    <em><i class="lucca-icon">info</i> Les boutons peuvent être utilisés comme des liens : <code class="code">&lt;a href="#"&gt;</code></em><br>
    <em><i class="lucca-icon">info</i> Vous pouvez ajouter une classe <code class="code">mod-link</code>, pour donner l'aspect d'un lien a un bouton</em>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Palette</h2>
  	<button class="button palette-primary">Primary</button>
  	<button class="button palette-secondary">Secondary</button>
  	<button class="button palette-success">Success</button>
  	<button class="button palette-warning">Warning</button>
  	<button class="button palette-error">Error</button>
<code class="code mod-block">&lt;button class="button"&gt;...&lt;/button&gt;
&lt;button class="button palette-primary"&gt;...&lt;/button&gt;
&lt;button class="button palette-secondary"&gt;...&lt;/button&gt;
&lt;button class="button palette-success"&gt;...&lt;/button&gt;
&lt;button class="button palette-warning"&gt;...&lt;/button&gt;
&lt;button class="button palette-error"&gt;...&lt;/button&gt;
</code>
    <em><i class="lucca-icon">info</i> Les couleurs de votre palette sont éditables via votre <a href="https://github.com/LuccaSA/lucca-front/#palettes" target="_blank">thème</a></em>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Tailles</h2>
    <button class="button size-smaller">Smaller</button>
    <button class="button size-small">Small</button>
    <button class="button">Standard</button>
    <button class="button size-big">Big</button>
    <button class="button size-bigger">Bigger</button>
<code class="code mod-block">&lt;button class="button size-smaller"&gt;...&lt;/button&gt;
&lt;button class="button size-small"&gt;...&lt;/button&gt;
&lt;button class="button size-big"&gt;...&lt;/button&gt;
&lt;button class="button size-bigger"&gt;...&lt;/button&gt;
</code>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Status</h2>
  	<button class="button is-loading">Loading</button>
  	<button class="button is-success">Success</button>
  	<button class="button is-error">Success</button>
<code class="code mod-block">&lt;button class="button is-loading"&gt;...&lt;/button&gt;
&lt;button class="button is-success"&gt;...&lt;/button&gt;
&lt;button class="button is-error"&gt;...&lt;/button&gt;
</code>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <h2>Disabled</h2>
  	<button class="button" disabled>Disabled</button>
  	<button class="button palette-primary is-disabled">Disabled</button>
<code class="code mod-block">&lt;button class="button" disabled&gt;...&lt;/button&gt;</code>
    <em><i class="lucca-icon">info</i> Vous pouvez désactiver un bouton avec la classe <code class="code">is-disabled</code>, mais vous ne pourrez plus utiliser de tooltip</em>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Groupes</h2>
  	<div class="button-group">
  		<button class="button">bouton</button>
  		<button class="button">bouton</button>
  		<button class="button">bouton</button>
  		<button class="button">bouton</button>
  	</div>
<code class="code mod-block">&lt;div class="button-group"&gt;
	&lt;button class="button"&gt;...&lt;/button&gt;
	&lt;button class="button"&gt;...&lt;/button&gt;
&lt;/div&gt;
</code>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Boutons radio</h2>
    <div class="button-group">
    	<div class="button-group-item">
    		<input class="button-group-input" type="radio" name="radioButtonID" id="radioButton1" checked>
    		<label class="button" for="radioButton1">Radio button</label>
    	</div>
    	<div class="button-group-item">
    		<input class="button-group-input" type="radio" name="radioButtonID" id="radioButton2">
    		<label class="button" for="radioButton2">Radio button</label>
    	</div>
    	<div class="button-group-item">
    		<input class="button-group-input" type="radio" name="radioButtonID" id="radioButton3">
    		<label class="button" for="radioButton3">Radio button</label>
    	</div>
    	<div class="button-group-item">
    		<input class="button-group-input" type="radio" name="radioButtonID" id="radioButton4">
    		<label class="button" for="radioButton4">Radio button</label>
    	</div>
    </div>

<code class="code mod-block">&lt;div class="button-group"&gt;
	&lt;div class="button-group-item"&gt;
		&lt;input class="button-group-input" type="radio" name="radioButtonID" id="radioButton1" checked&gt;
		&lt;label class="button" for="radioButton1"&gt;Radio button&lt;/label&gt;
	&lt;/div&gt;
	&lt;div class="button-group-item"&gt;
		&lt;input class="button-group-input" type="radio" name="radioButtonID" id="radioButton2"&gt;
		&lt;label class="button" for="radioButton2"&gt;Radio button&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;</code>
  </div>
</div>

<div class="card">
	<div class="card-content">
		<ds-theme-displayer [theme]="theme"></ds-theme-displayer>
	</div>
</div>
