<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Cards</h1>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Basique</h2>
    <p>Contenu</p>
<code class="code mod-block">&lt;div class="card"&gt;
	&lt;div class="card-content"&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;
</code>
  </div>
</div>

<div class="card mod-grey">
  <div class="card-content">
    <h2>Grisée</h2>
    <p>Contenu</p>
<code class="code mod-block">&lt;div class="card mod-grey"&gt;
	&lt;div class="card-content"&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;
</code>
  </div>
</div>

<div class="card">
	<div class="card-content">
		<h2>Avec footer</h2>
		<p>Card content</p>
<code class="code mod-block">&lt;div class="card"&gt;
	&lt;div class="card-content"&gt;
		...
	&lt;/div&gt;
	&lt;footer class="card-footer"&gt;
		&lt;div class="card-footer-right"&gt;
			&lt;button class="button palette-primary"&gt;...&lt;/button&gt;
			&lt;button class="button mod-flat"&gt;...&lt;/button&gt;
		&lt;/div&gt;
	&lt;/footer&gt;
&lt;/div&gt;
</code>
	</div>
	<footer class="card-footer">
		<div class="card-footer-right">
			<button class="button palette-primary">Confirm</button>
			<button class="button mod-flat">Cancel</button>
		</div>
	</footer>
</div>

<a href="#" class="card mod-clickable">
	<div class="card-content">
    <h2>Cliquable</h2>
    Hover me!
<code class="code mod-block">&lt;a href="#" class="card mod-clickable"&gt;
  &lt;div class="card-content"&gt;
  ...
  &lt;/div&gt;
  &lt;/a&gt;
</code>
	</div>
</a>

<div class="card is-disabled">
	<div class="card-content">
    <h2>Désactivée</h2>
		<p>I'm disabled :(</p>
<code class="code mod-block">&lt;div class="card is-disabled"&gt;
  &lt;div class="card-content"&gt;
  ...
  &lt;/div&gt;
  &lt;/div&gt;
</code>
	</div>
</div>
