<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Textfields</h1>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <h2>Basique</h2>
      <div class="form-group">
        <div class="textfield">
          <input class="textfield-input" id="textfield0" type="text" placeholder="placeholder">
          <label class="textfield-label" for="textfield0">Textfield label</label>
        </div>
    </div>
<code class="code mod-block">&lt;div class="textfield"&gt;
  &lt;input class="textfield-input" id="<b>textfieldID</b>" type="text"&gt;
  &lt;label class="textfield-label" for="<b>textfieldID</b>"&gt;...&lt;/label&gt;
&lt;/div&gt;
</code>
  </div>
</div>



<div class="card">
  <div class="card-content">
    <h2>Apparence</h2>
    <div class="grid mod-xsBottom">
      <div class="grid-md6">
        <h3>Compact</h3>
        <div class="form-group">
          <div class="textfield mod-compact">
            <input class="textfield-input" id="textfield0" type="text" placeholder="placeholder">
            <label class="textfield-label" for="textfield0">Textfield label</label>
          </div>
        </div>
<code class="code mod-block">&lt;div class="textfield mod-compact"&gt;
	&lt;input class="textfield-input" type="text"&gt;
	&lt;label class="textfield-label"&gt;...&lt;/label&gt;
&lt;/div&gt;
</code>
      </div>
      <div class="grid-md6">
        <h3>Material</h3>
        <div class="form-group">
          <div class="textfield mod-material">
            <input class="textfield-input" id="textfield0" type="text" placeholder="placeholder">
            <label class="textfield-label" for="textfield0">Textfield label</label>
          </div>
        </div>
<code class="code mod-block">&lt;div class="textfield mod-material"&gt;
	&lt;input class="textfield-input" type="text"&gt;
	&lt;label class="textfield-label"&gt;...&lt;/label&gt;
&lt;/div&gt;
</code>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <h2>Disabled</h2>
  </div>
</div>

<div class="card">
  <div class="card-content">

  </div>
</div>

<div class="card">
  <div class="card-content">

  </div>
</div>

<div class="card">
  <div class="card-content">

  </div>
</div>

<div class="card">
  <div class="card-content">

  </div>
</div>

<div class="card">
  <div class="card-content">

  </div>
</div>
