<div class="card">
  <div class="card-dependencies">
    <label class="label palette-ng">NG</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Modales</h1>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Basique</h2>
    <p>Les modales sont pour l'instant supportées par <a href="https://material.angular.io/components/dialog/overview" target="_blank">Angular Material</a>.</p>
    <label class="label palette-primary">To do ⛏️</label> Code et Mods
    <button (click)="openDialog()">Open Dialog</button>
  </div>
</div>
