<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Empty State</h1>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Basique</h2>
    <section class="emptystate">
      <h2 class="emptystate-title">Shhh, c'est calme ici</h2>
  		<p class="emptystate-description">Vous pouvez suggérer ici une action à réaliser</p>
  		<button class="button palette-primary size-big">Faire une action</button>
    </section>
<code class="code mod-block">&lt;section class="emptystate"&gt;
	&lt;h2 class="emptystate-title"&gt;Titre&lt;/h2&gt;
	&lt;p class="emptystate-description"&gt;Description&lt;/p&gt;
	&lt;button class="button palette-primary size-big"&gt;Action&lt;/button&gt;
&lt;/section&gt;</code>
  </div>
</div>
