<pri-feature [infos]="infos">
	<p class="strong">Les mixins sont disponibles en ajoutant <code class="code">@import "~@lucca-front/scss/src/mixins";</code> à votre composant.</p>
</pri-feature>

<div class="callout palette-warning">
	 ⛏️ Contenu à déplacer
</div>

<section class="contentSection">
	<h2>Ombrages</h2>
	<p>Vous pouvez ajouter de l'ombre à un composant grâce à la mixin elevated(1~5).</p>
	<code class="code mod-block">@include elevate(1);</code>
</section>

<section class="contentSection">
	<h2>Loader</h2>
	<p>Vous pouvez ajouter un loader via la mixing loading.</p>
	<code class="code mod-block">@include loading($size);</code>
</section>

<section class="contentSection">
	<h2>Media queries</h2>
	<p>Vous pouvez utiliser les breakpoints de votre <a href="https://github.com/LuccaSA/lucca-front/#breakpoints" target="_blank">thème</a> dans vos media queries :</p>
	<code class="code mod-block">@include media_smaller_than("nom_breakpoint") &#123;&#125;
	@include media_larger_than("nom_breakpoint") &#123;&#125;
	@include media_between("nom_breakpoint1", "nom_breakpoint2") &#123;&#125;</code>
</section>
