@import "~@lucca-front/scss/src/_theming.overridable";
@import "~@lucca-front/scss/src/_mixins";

:host {
	border-bottom: 1px solid _theme('commons.background.darker');
	background: white;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 4rem;
	z-index: 20;
}

.header-logo {
	height: 4rem;
	line-height: 4rem;
	width: 9rem;
	padding: 0 1.5rem;
	text-decoration: none;
	color: _color("text.purple");
	font-weight: 600;
	transition: background 150ms ease;
	background: url(/assets/prisme.png) no-repeat center;
	background-size: 7rem;

	&:hover {
		background-color: _theme('commons.background.dark');
	}
}

nav {
	margin-left: auto;
}

.nav-item {
  display: inline-block;
  height: 4rem;
  font-weight: 600;
  font-size: .95rem;
  line-height: 4rem;
  padding: 0 1.5rem;
  position: relative;
  text-decoration: none;
  color: _color("text.purple");
  transition: background 150ms ease;

  &:hover, &:focus, &:active {
    outline: none;
    background: _theme('commons.background.dark');
    color: _color("text.purple", "dark");
  }

  &.is-active {
    color: _color("text.purple", "dark");

    &::before {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      height: 3px;
      background: _color("primary");
    }
	}
	&.is-disabled {
		pointer-events: none;
		opacity: .3;
	}
}

:host(.mod-splash) {
	background: transparent;
	border: none;

	.header-logo, pri-search {
		display: none;
	}

	.nav-item {
		color: white;

		&:hover {
			background: rgba(255, 255, 255, .2);
		}
	}
}
