<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Switches</h1>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Basiques</h2>
    <div class="grid">
      <div class="grid-xs4">
        <div class="form-group">
          <div class="switch">
            <input class="switch-input" type="checkbox" id="switch0">
            <label class="switch-label" for="switch0">Switch</label>
          </div>
          <div class="switch">
            <input class="switch-input" type="checkbox" id="switch1" checked>
            <label class="switch-label" for="switch1">Switch</label>
          </div>
        </div>
      </div>
      <div class="grid-xs4">
        <div class="form-group">
          <div class="switch">
            <input class="switch-input" type="checkbox" id="switch2" disabled>
            <label class="switch-label" for="switch2">Switch</label>
          </div>
          <div class="switch">
            <input class="switch-input" type="checkbox" id="switch3" disabled checked>
            <label class="switch-label" for="switch3">Switch</label>
          </div>
        </div>
      </div>
    </div>
<code class="code mod-block">&lt;div class="switch"&gt;
  &lt;input class="switch-input" type="checkbox" id="<b>switchID</b>"&gt;
  &lt;label class="switch-label" for="<b>switchID</b>"&gt;Switch&lt;/label&gt;
&lt;/div&gt;
</code>
    <em><i class="lucca-icon">info</i> Les switches réagissent aux attributs standards HTML "checked" et "disabled"</em>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>En ligne</h2>
    <div class="switch mod-inline">
  		<input class="switch-input" type="checkbox" id="switchInline0" checked>
  		<label class="switch-label" for="switchInline0">Switch</label>
  	</div>
  	<div class="switch mod-inline">
  		<input class="switch-input" type="checkbox" id="switchInline1" checked>
  		<label class="switch-label" for="switchInline1">Switch</label>
  	</div>
  	<div class="switch mod-inline">
  		<input class="switch-input" type="checkbox" id="switchInline2" checked>
  		<label class="switch-label" for="switchInline2">Switch</label>
  	</div>
<code class="code mod-block">&lt;div class="switch mod-inline"&gt;
	&lt;input class="switch-input" type="checkbox" id="<b>switchID</b>"&gt;
	&lt;label class="switch-label" for="<b>switchID</b>"&gt;Switch&lt;/label&gt;
&lt;/div&gt;
</code>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Palette</h2>
  	<div class="switch palette-primary">
  		<input class="switch-input" type="checkbox" id="switch-palette-primary" checked>
  		<label class="switch-label" for="switch-palette-primary">palette-primary</label>
  	</div>
  	<div class="switch palette-secondary">
  		<input class="switch-input" type="checkbox" id="switch-palette-secondary" checked>
  		<label class="switch-label" for="switch-palette-secondary">palette-secondary</label>
  	</div>
  	<div class="switch palette-success">
  		<input class="switch-input" type="checkbox" id="switch-palette-success" checked>
  		<label class="switch-label" for="switch-palette-success">palette-success</label>
  	</div>
  	<div class="switch palette-warning">
  		<input class="switch-input" type="checkbox" id="switch-palette-warning" checked>
  		<label class="switch-label" for="switch-palette-warning">palette-warning</label>
  	</div>
  	<div class="switch palette-error">
  		<input class="switch-input" type="checkbox" id="switch-palette-error" checked>
  		<label class="switch-label" for="switch-palette-error">palette-error</label>
  	</div>
<code class="code mod-block">&lt;div class="switch palette-primary"&gt;
	&lt;input class="switch-input" type="checkbox" id="<b>switchID</b>" checked&gt;
	&lt;label class="switch-label" for="<b>switchID</b>"&gt;...&lt;/label&gt;
&lt;/div&gt;</code>
    <em><i class="lucca-icon">info</i> Les couleurs de votre palette sont éditables via votre <a href="https://github.com/LuccaSA/lucca-front/#palettes" target="_blank">thème</a></em>
  </div>
</div>
