<ul class="menu">
	<li class="menu-link" *ngFor="let tab of tabsQL" (click)="selectTab(tab)" [class.is-active]="tab.active">
		{{tab.tabTitle}}
	</li>
	<li class="menu-link split-toggle" (click)="toggleSplitView()" [class.is-active]="isSplitView"><i class="lucca-icon icon-mosaic"></i></li>
</ul>
<div class="tabs">
	<ds-tab tabTitle="Aperçu" [active]="true" class="display-tab" [class.mod-splitView]="isSplitView">
		<div class="tab-title" *ngIf="isSplitView">Aperçu</div>
		<div class="tab-content">
			<ng-container #display></ng-container>
		</div>
	</ds-tab>
	<ds-tab tabTitle="HTML" class="html-tab" [class.mod-splitView]="isSplitView">
		<div class="tab-title" *ngIf="isSplitView">HTML</div>
		<div class="tab-content">
			<pre><code [innerHTML]="code"></code></pre>
		</div>
	</ds-tab>
	<ds-tab class="ts-tab" tabTitle="Typescript" *ngIf="tsCode" [class.mod-splitView]="isSplitView">
		<div class="tab-title" *ngIf="isSplitView">Typescript</div>
		<div class="tab-content">
			<pre><code [innerHTML]="tsCode"></code></pre>
		</div>
	</ds-tab>
</div>
