@import '~@lucca-front/scss/src/theming.overridable';
@import '~@lucca-front/scss/src/mixins';

:host {
	display: block;
	@include elevate(1);
	position: relative;
	z-index: 1;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 1rem;
}
ul, li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}

.menu-link {
	cursor: pointer;
	display: inline-flex;
	padding: 0 2rem;
	height: 3rem;
	align-items: center;
	justify-content: center;
	margin: 0;
	&.is-active {
		background: _color('ds');
	}
	&:hover {
		background: _color('ds', 'dark');
	}
}

.split-toggle {
	margin-left: auto;
}

.tab-content {
  margin: 1em .5em;
}

.tabs {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	padding: 0 1px 1px 0;
}
ds-tab {
	display: block;
	width: 100%;
	&.mod-splitView {
		display: inline-block;
		@include fakeBorder(1px, _color("ds", "text"));
		flex: 0 0 auto;
		&.display-tab {
			width: 40%
		}
		&.html-tab {
			width: 60%;
		}
		&.ts-tab {
			width: 100%;
		}
	}
}

.tab-title {
	padding: .2rem .5rem;
	background: _color("ds");
	color: _color("ds", "text");
	@include fakeBorder(1px, _color("ds", "text"));
	font-weight: 600;
	position: sticky;
	top: 0;
	left: -1rem;
	margin: 0 -1rem;
	z-index: 9999;
}
