<div class="card">
  <div class="card-content">
    <h1>Buttons</h1>
    <p class="strong">Sesame snaps gummi bears candy canes macaroon sweet roll. Danish biscuit icing marshmallow candy cotton candy powder.</p>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Basic usage</h2>
    <button class="button">Default</button>
    <button class="button mod-flat">.mod-flat</button>
    <button class="button mod-wired">.mod-wired</button>
    <button class="button mod-filling">.mod-filling</button>

<code class="code mod-block">&lt;button class="button"&gt;...&lt;/button&gt;
&lt;button class="button mod-flat"&gt;...&lt;/button&gt;
&lt;button class="button mod-wired"&gt;...&lt;/button&gt;
&lt;button class="button mod-filling"&gt;...&lt;/button&gt;
</code>

    <em><b>Tip:</b> Can be used as <code class="code">&lt;a href="#"&gt;</code>, for links.</em><br>
    <em><b>Tip:</b> You can use <code class="code">mod-link</code>, to give a link aspect to your button.</em>
  </div>
</div>
