<div class="card">
  <div class="card-content">
    <h1>Titre</h1>
    <p class="strong">Les titres servent à nomer les différentes sections de la page.</p>
    <label class="label palette-primary">To do ⛏️</label> Créer et lier aux composants "sections"
  </div>
</div>


<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <section class="contentSection">
    	<h1 class="mod-headline">Headline</h1>
    	<code class="code">&lt;h1 class="mod-headline"&gt;...&lt;/h1&gt;</code>
    </section>
    <section class="contentSection">
    	<h1>Titre 1</h1>
      <code class="code">&lt;h1&gt;...&lt;/h1&gt;</code>
    </section>
    <section class="contentSection">
    	<h2>Titre 2</h2>
      <code class="code">&lt;h2&gt;...&lt;/h2&gt;</code>
    </section>
    <section class="contentSection">
    	<h3>Titre 3</h3>
      <code class="code">&lt;h3&gt;...&lt;/h3&gt;</code>
    </section>
    <section class="contentSection">
    	<h4>Titre 4</h4>
      <code class="code">&lt;h4&gt;...&lt;/h4&gt;</code>
    </section>
  </div>
</div>
