@import "node_modules/@lucca-front/scss/src/theming.overridable";

:host {
  background: #FF6600;
  background: linear-gradient(304deg, rgba(255,128,0,1) 39%, rgba(252,187,49,1) 100%);
  color: white;
  display: block;
  padding: 3rem 3rem 1.5rem;
}

h1 {
  color: #ffeaab;
}

.splash-description {
  font-size: 1.3rem;
  max-width: 40rem;
}

app-nav {
  position: absolute;
  top: 0;
  right: 0;
}
