@import "~@lucca-front/scss/src/theming.overridable";

a {
  display: block;
	color: _color("text.purple");
	text-decoration: none;
  cursor: pointer;
  padding: .5rem .5rem .5rem 1.5rem;
  position: relative;
  transition: all 150ms ease;

  &:hover, &:focus, &:active {
    outline: none;
    background: _theme('commons.background.dark');
    color: _color("text.purple", "dark");
  }

  &.is-active {
    background: _theme('commons.background.dark');
    color: _color("text.purple", "darker");

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      background: _color("text.purple");
    }

    .navSide-sub {
      display: block;
    }
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

:host-context(ds-nav-side-group) {
	a {
		left: 2rem;
		padding: .5rem .5rem .5rem 1rem;
	}
}
