$commons: (
	"background": (
		"base": #FFFFFF,
		"dark": #eaecfb,
		"darker": #e2e7ff,
		"darkest": #d3daff
	),
	divider: (
		color: #e1e0ec,
	),
	elevations: (
		elevation-1: unquote("0 1px 3px rgba(139, 137, 206, .25), 0 1px 2px rgba(139, 137, 206, .5)"),
		elevation-2: unquote("0 3px 6px rgba(139, 137, 206, .25), 0 3px 6px rgba(139, 137, 206, .5)"),
		elevation-3: unquote("0 10px 20px rgba(139, 137, 206, .25), 0 6px 6px rgba(139, 137, 206, .5)"),
		elevation-4: unquote("0 14px 28px rgba(139, 137, 206, .25), 0 10px 10px rgba(139, 137, 206, .5)"),
		elevation-5: unquote("0 19px 38px rgba(139, 137, 206, .25), 0 15px 12px rgba(139, 137, 206, .5)")
	)
);

$theme: _set($theme, "commons", $commons);
