$palettes: (
	primary: (
		color: #8B89CE,
		text: #666666,
		see-through: rgba(#8B89CE, .1),
		dark: darken(#8B89CE, 5%),
		darker: darken(#8B89CE, 15%),
		light: lighten(#8B89CE, 5%),
		lighter: lighten(#8B89CE, 20%),
		lightest: lighten(#8B89CE, 42%)
	),
	ds: (
		color: #F9FAFF,
		text: #8B89CE,
		see-through: rgba(#F9FAFF, .1),
		dark: #EFF1FC,
		darker: #E2E7FF,
		light: lighten(#F9FAFF, 5%),
		lighter: lighten(#F9FAFF, 20%),
		lightest: lighten(#F9FAFF, 42%)
	),
	scss: (
		color: #E696BE,
		text: #FFFFFF,
		see-through: rgba(#E696BE, .1),
		dark: darken(#E696BE, 5%),
		darker: darken(#E696BE, 20%),
		light: lighten(#E696BE, 5%),
		lighter: lighten(#E696BE, 20%),
		lightest: lighten(#E696BE, 42%)
	),
	ng: (
		color: #42A5F5,
		text: #FFFFFF,
		see-through: rgba(#42A5F5, .1),
		dark: darken(#42A5F5, 5%),
		darker: darken(#42A5F5, 20%),
		light: lighten(#42A5F5, 5%),
		lighter: lighten(#42A5F5, 20%),
		lightest: lighten(#42A5F5, 42%)
	),

);

$colors: (
	text: (
		"purple": (
      "color": #8B89CA,
      "dark": darken(#8B89CA, 5%),
      "darker": darken(#8B89CA, 20%)
    )
	),
);
$theme: _set($theme, "palettes", $palettes);
$theme: _set($theme, "colors", $colors);
