$palettes: (
	ds: (
		color: #F9FAFF,
		text: #8b89ce,
		see-through: rgba(#F9FAFF, .1),
		dark: #eff1fc,
		darker: #e2e7ff,
		light: lighten(#F9FAFF, 5%),
		lighter: lighten(#F9FAFF, 20%)
	),
	scss: (
		color: #e696be,
    text: #FFFFFF,
		see-through: rgba(#e696be, .1),
		dark: darken(#e696be, 5%),
		darker: darken(#e696be, 20%),
		light: lighten(#e696be, 5%),
		lighter: lighten(#e696be, 20%)
	),
	ng: (
		color: #42A5F5,
		text: #FFFFFF,
		see-through: rgba(#42A5F5, .1),
		dark: darken(#42A5F5, 5%),
		darker: darken(#42A5F5, 20%),
		light: lighten(#42A5F5, 5%),
		lighter: lighten(#42A5F5, 20%)
	),

);

$colors: (
	text: (
		"purple": (
      "color": #8b89ca,
      "dark": darken(#8b89ca, 5%),
      "darker": darken(#8b89ca, 20%)
    )
	),
);
$theme: _set($theme, "palettes", $palettes);
$theme: _set($theme, "colors", $colors);
