<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Animations</h1>
    <label class="label palette-primary">To do ⛏️</label> Animer au clic
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Apparition</h2>
    <section class="contentSection">
      <h3>Slides</h3>
      <div class="grid">
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedSlideIn">Top</div>
    			<code class="code">u-animatedSlideInTop</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedSlideInRight">Right</div>
    			<code class="code">u-animatedSlideInRight</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedSlideInBottom">Bottom</div>
    			<code class="code">u-animatedSlideInBottom</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedSlideInLeft">Left</div>
    			<code class="code">u-animatedSlideInLeft</code>
    		</div>
    	</div>
    </section>

    <section class="contentSection">
    	<h3>Scale</h3>
    	<div class="grid">
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedScaleIn">Center</div>
    			<code class="code">u-animatedScaleIn</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedScaleInTop">Top</div>
    			<code class="code">u-animatedScaleInTop</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedScaleInRight">Right</div>
    			<code class="code">u-animatedScaleInRight</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedScaleInBottom">Bottom</div>
    			<code class="code">u-animatedScaleInBottom</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedScaleInLeft">Left</div>
    			<code class="code">u-animatedScaleInLeft</code>
    		</div>
    	</div>
    </section>

    <section class="contentSection">
    	<h3>Fade</h3>
    	<div class="grid">
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedFadeIn">Center</div>
    			<code class="code">u-animatedFadeIn</code>
    		</div>
    	</div>
    </section>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Disparition</h2>
    <section class="contentSection">
      <h3>Slide</h3>
    	<div class="grid">
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedSlideOut">Top</div>
    			<code class="code">u-animatedSlideOutTop</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedSlideOutRight">Right</div>
    			<code class="code">u-animatedSlideOutRight</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedSlideOutBottom">Bottom</div>
    			<code class="code">u-animatedSlideOutBottom</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedSlideOutLeft">Left</div>
    			<code class="code">u-animatedSlideOutLeft</code>
    		</div>
    	</div>
    </section>
    <section class="contentSection">
    	<h3>Scale</h3>
    	<div class="grid">
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedScaleOut">Center</div>
    			<code class="code">u-animatedScaleOut</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedScaleOutTop">Top</div>
    			<code class="code">u-animatedScaleOutTop</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedScaleOutRight">Right</div>
    			<code class="code">u-animatedScaleOutRight</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedScaleOutBottom">Bottom</div>
    			<code class="code">u-animatedScaleOutBottom</code>
    		</div>
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedScaleOutLeft">Left</div>
    			<code class="code">u-animatedScaleOutLeft</code>
    		</div>
    	</div>
    </section>
    <section class="contentSection">
    	<h3>Fade</h3>
    	<div class="grid">
    		<div class="grid-md3" (click)="animate()">
    			<div class="card demo-animation u-animatedFadeOut">Center</div>
    			<code class="code">u-animatedFadeOut</code>
    		</div>
    	</div>
    </section>
  </div>
</div>
