$textfield: (

	background: lighten(_color("ds", "dark", true), 0%),

	input: (
		placeholder: lighten(_color("ds", "text", true), 15%)
	),

	hover: (
		background: lighten(_color("ds", "dark", true), 1%)
	),

	material: (
		default-palette: (
			color: _color("ds")
		),
	),
);

$theme: _set($theme, "components.textfield", $textfield);
