$textfield: (

	background: lighten(_color("ds", "dark", true), 2%),

	input: (
		placeholder: lighten(_color("ds", "text", true), 20%)
	),

	hover: (
		background: lighten(_color("ds", "dark", true), 3%)
	),

	material: (
		default-palette: (
			color: _color("ds")
		),
	),
);

$theme: _set($theme, "components.textfield", $textfield);
