<app-header></app-header>
<app-nav-side>
  <!-- Structure -->
  <h3>Structure</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="structure-guidelines" disabled>
    Structure guidelines <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="templates" disabled>
    Templates <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="grids" disabled>
    Grids <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="cards" disabled>
    Cards <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="empty-states" disabled>
    Empty States <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

  <!-- Navigation -->
  <h3>Navigation</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="menu" disabled>
    Menu <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="pagination" disabled>
    Pagination <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

  <!-- Text -->
  <h3>Text</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="text-guidelines" disabled>
    Text guidelines <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="titles" disabled>
    Titles <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="basic-text" disabled>
    Basic Text <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="labels">
    Labels <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

  <!-- Forms -->
  <h3>Forms</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="form-guidelines" disabled>
    Form Guidelines <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="textfields" disabled>
    Textfields <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="select" disabled>
    Select <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="radios" disabled>
    Radios <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="checkboxes" disabled>
    Checkboxes <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="switches" disabled>
    Switches <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

  <!-- Actions -->
  <h3>Actions</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="action-guidelines" disabled>
    Actions Guidelines <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="buttons" routerKey="buttons" [anchors]="['code','theming', 'guidelines']">
    Buttons <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="links" disabled>
    Links <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="action-icons" disabled>
    Actions Icons <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

  <!-- Listings -->
  <h3>Listings</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="tables" disabled>
    Tables <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="lists" disabled>
    Lists <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="chips" disabled>
    Chips <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

  <!-- Overlay -->
  <h3>Overlay</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="modals" disabled>
    Modals <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="tooltips" disabled>
    Tooltips <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

  <!-- Feedback / Information -->
  <h3>Feedback / Information</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="toasts" disabled>
    Toasts <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="callouts" disabled>
    Callouts <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

  <!-- Loaders -->
  <h3>Loaders</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="loadings" disabled>
    Loadings <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="progress" disabled>
    Progress <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

  <!-- Icons -->
  <h3>Icons</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="icons" disabled>
    Icons <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

  <!-- Utilities -->
  <h3>Utilities</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="utilities" disabled>
    Utilities <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

  <!-- Animations -->
  <h3>Animations</h3>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="animations" disabled>
    Animations <label class="label palette-primary">To do ⛏️</label>
  </app-nav-side-item>

</app-nav-side>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<footer class="tipFooter">
  <app-tool
    title="Need an evolution?"
    linkName="Contribute on GitHub"
    link="https://github.com/LuccaSA/lucca-front"
    imageUrl="assets/github.png"
  ></app-tool>
</footer>
