<app-header></app-header>
<ds-nav-side>

  <!-- Structure -->
  <ds-nav-side-group title = "Structure" [expanded]="expandedGroup == 'Structure'" (click)="expandedGroup='Structure'">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="structure-guidelines" disabled>
      Guidelines <label class="label palette-primary">To do ⛏️</label>
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="templates">
      Templates
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="containers">
      Containers
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="grids">
      Grids
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="cards">
      Cards
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="empty-states">
      Empty States
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Navigation -->
  <ds-nav-side-group title = "Navigation" [expanded]="expandedGroup == 'Navigation'" (click)="expandedGroup='Navigation'">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="menu">
      Menu
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="breadcrumb">
      Breadcrumb
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Text -->
  <ds-nav-side-group title = "Texte" [expanded]="expandedGroup == 'Texte'" (click)="expandedGroup='Texte'">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="text-guidelines" disabled>
      Guidelines <label class="label palette-primary">To do ⛏️</label>
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="titles">
      Titres
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="basic-text" disabled>
      Texte basique <label class="label palette-primary">To do ⛏️</label>
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="labels">
      Labels
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Forms -->
  <ds-nav-side-group title = "Formulaires" [expanded]="expandedGroup == 'Formulaires'" (click)="expandedGroup='Formulaires'">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="form-guidelines" disabled>
      Guidelines <label class="label palette-primary">To do ⛏️</label>
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="textfields">
      Textfields
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="select" disabled>
      Selects <label class="label palette-primary">To do ⛏️</label>
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="radios">
      Radios
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="checkboxes">
      Checkboxes
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="switches">
      Switches
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="files">
      Files
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="framed">
      Framed
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Actions -->
  <ds-nav-side-group title = "Actions" [expanded]="expandedGroup == 'Actions'" (click)="expandedGroup='Actions'">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="action-guidelines" disabled>
      Guidelines <label class="label palette-primary">To do ⛏️</label>
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="buttons" routerKey="buttons" [anchors]="['code','theming']">
      Boutons
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="links" disabled>
      Liens <label class="label palette-primary">To do ⛏️</label>
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="action-icons">
      Actions Icons
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Listings -->
  <ds-nav-side-group title = "Listings" [expanded]="expandedGroup == 'Listings'" (click)="expandedGroup='Listings'">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="tables">
      Tables
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="lists">
      Lists
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="chips">
      Chips
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Listings -->
  <ds-nav-side-group title="Users" [expanded]="expandedGroup == 'Users'" (click)="expandedGroup='Users'">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="user-tile">
      User Tile
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Overlay -->
  <ds-nav-side-group title = "Overlays" [expanded]="expandedGroup == 'Overlays'" (click)="expandedGroup='Overlays'">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="modals">
      Modals
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="tooltips">
      Tooltips
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Feedback / Information -->
  <ds-nav-side-group title = "Feedback / Information" [expanded]="expandedGroup == 'Feedback / Information'" (click)="expandedGroup='Feedback / Information'">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="toasts">
      Toasts
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="callouts">
      Callouts
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="boxes">
      Boxes
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Loaders -->
  <ds-nav-side-group title = "Chargement" [expanded]="expandedGroup == 'Chargement'" (click)="expandedGroup='Chargement'">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="loadings">
      Loadings
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="progress">
      Progress
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Icons -->
  <ds-nav-side-group title = "Icones" [expanded]="expandedGroup == 'Icones'" (click)="expandedGroup='Icones'" routerLink="icons">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="icons">
      Icones
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Utilities -->
  <ds-nav-side-group title = "Utilitaires" [expanded]="expandedGroup == 'Utilitaires'" (click)="expandedGroup='Utilitaires'">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="utilities">
      Utilitaires
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="functions">
      Fonctions
    </ds-nav-side-item>
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="mixins">
      Mixins
    </ds-nav-side-item>
  </ds-nav-side-group>

  <!-- Animations -->
  <ds-nav-side-group title = "Animations" [expanded]="expandedGroup == 'Animations'" (click)="expandedGroup='Animations'" routerLink="animations">
    <ds-nav-side-item [routerLinkActive]="['is-active']" routerLink="animations">
      Animations
    </ds-nav-side-item>
  </ds-nav-side-group>

</ds-nav-side>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<footer class="tipFooter">
  <app-tool
    title="Need an evolution?"
    linkName="Contribute on GitHub"
    link="https://github.com/LuccaSA/lucca-front"
    imageUrl="assets/github.png"
  ></app-tool>
</footer>
