<app-header></app-header>
<app-nav-side>

  <!-- Structure -->
  <app-nav-side-group title = "Structure" [expanded]="expandedGroup == 'Structure'" (click)="expandedGroup='Structure'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="structure-guidelines" disabled>
      Guidelines <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="templates" disabled>
      Templates <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="containers">
      Containers
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="grids">
      Grids
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="cards">
      Cards
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="empty-states" disabled>
      Empty States <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
  </app-nav-side-group>

  <!-- Navigation -->
  <app-nav-side-group title = "Navigation" [expanded]="expandedGroup == 'Navigation'" (click)="expandedGroup='Navigation'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="menu">
      Menu
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="breadcrumb">
      Breadcrumb
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="pagination" disabled>
      Pagination <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
  </app-nav-side-group>

  <!-- Text -->
  <app-nav-side-group title = "Texte" [expanded]="expandedGroup == 'Texte'" (click)="expandedGroup='Texte'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="text-guidelines" disabled>
      Guidelines <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="titles">
      Titres
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="basic-text" disabled>
      Texte basique <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="labels">
      Labels <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
  </app-nav-side-group>

  <!-- Forms -->
  <app-nav-side-group title = "Formulaires" [expanded]="expandedGroup == 'Formulaires'" (click)="expandedGroup='Formulaires'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="form-guidelines" disabled>
      Guidelines <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="textfields">
      Textfields
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="select" disabled>
      Selects <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="radios">
      Radios
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="checkboxes">
      Checkboxes
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="switches">
      Switches
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="files">
      Files
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="framed" disabled>
      Framed <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
  </app-nav-side-group>

  <!-- Actions -->
  <app-nav-side-group title = "Actions" [expanded]="expandedGroup == 'Actions'" (click)="expandedGroup='Actions'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="action-guidelines" disabled>
      Guidelines <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="buttons" routerKey="buttons" [anchors]="['code','theming']">
      Boutons <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="links" disabled>
      Liens <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="action-icons" disabled>
      Actions Icons <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
  </app-nav-side-group>

  <!-- Listings -->
  <app-nav-side-group title = "Listings" [expanded]="expandedGroup == 'Listings'" (click)="expandedGroup='Listings'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="tables">
      Tables
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="lists">
      Lists
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="chips">
      Chips
    </app-nav-side-item>
  </app-nav-side-group>

  <!-- Overlay -->
  <app-nav-side-group title = "Overlays" [expanded]="expandedGroup == 'Overlays'" (click)="expandedGroup='Overlays'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="modals" disabled>
      Modals <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="tooltips" disabled>
      Tooltips <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
  </app-nav-side-group>

  <!-- Feedback / Information -->
  <app-nav-side-group title = "Feedback / Information" [expanded]="expandedGroup == 'Feedback / Information'" (click)="expandedGroup='Feedback / Information'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="toasts">
      Toasts
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="callouts">
      Callouts
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="boxes">
      Boxes
    </app-nav-side-item>
  </app-nav-side-group>

  <!-- Loaders -->
  <app-nav-side-group title = "Chargement" [expanded]="expandedGroup == 'Chargement'" (click)="expandedGroup='Chargement'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="loadings">
      Loadings
    </app-nav-side-item>
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="progress">
      Progress
    </app-nav-side-item>
  </app-nav-side-group>

  <!-- Icons -->
  <app-nav-side-group title = "Icones" [expanded]="expandedGroup == 'Icones'" (click)="expandedGroup='Icones'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="icons" disabled>
      Icons <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
  </app-nav-side-group>

  <!-- Utilities -->
  <app-nav-side-group title = "Utilitaires" [expanded]="expandedGroup == 'Utilitaires'" (click)="expandedGroup='Utilitaires'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="utilities" disabled>
      Utilities <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
  </app-nav-side-group>

  <!-- Animations -->
  <app-nav-side-group title = "Animations" [expanded]="expandedGroup == 'Animations'" (click)="expandedGroup='Animations'">
    <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="animations" disabled>
      Animations <label class="label palette-primary">To do ⛏️</label>
    </app-nav-side-item>
  </app-nav-side-group>

</app-nav-side>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<footer class="tipFooter">
  <app-tool
    title="Need an evolution?"
    linkName="Contribute on GitHub"
    link="https://github.com/LuccaSA/lucca-front"
    imageUrl="assets/github.png"
  ></app-tool>
</footer>
