<ds-title-block [infos]="infos">
	<p class="strong">
		 Les cartes sont un mode de représentation d' un objet au sein d'une liste. Elles permettent de présenter certains (voire
		l'intégralité) des attributs de l'objet de façon plus riche que ne le permettrait un tableau (images, codes colorés, variations
		sur le corps et la graisse des textes, etc.) et ainsi facilitent la lecture des attributs mis en avant.
	</p>
</ds-title-block>
<markdown [dsMarkdownSrc]="'guidelines/components/layout/cards/cards.guidelines.md'"></markdown>
