<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Breadcrumb</h1>
    <div class="callout palette-warning mod-icon">
      <div class="callout-icon"><i class="lucca-icon">warning</i></div>
      Ce composant est destiné au package Angular. Les toasts doivent pour pour l'instant être générés manuellement.
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Basique</h2>
    <p>Les toasts vous permettent d'afficher une information ou un callback dans un coin de l'application.</p>
  	<div class="toasts" id="toastsBox"></div>
  	<button class="button palette-primary">Generate toast</button> <label class="label palette-primary">To do ⛏️</label>
<code class="code mod-block">&lt;div class="toasts"&gt;
	&lt;div class="toasts-item"&gt;
		&lt;button class="toasts-item-kill"&gt;&lt;/button&gt;
		...
	&lt;/div&gt;
	&lt;div class="toasts-item"&gt;
		&lt;button class="toasts-item-kill"&gt;&lt;/button&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;
</code>
  </div>
</div>
