<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Lists</h1>
  </div>
</div>

<div class="card mod-grey">
  <div class="card-content">
    <h2>Basique</h2>
    <ul class="list">
      <li class="list-item">
        <div class="list-item-content">
          <h3 class="list-item-content-title">Titre</h3>
          <p class="list-item-content-description">Description</p>
        </div>
        <div class="list-item-actions">
          <button class="actionIcon"><i class="lucca-icon">edit</i></button>
          <button class="actionIcon"><i class="lucca-icon">trash</i></button>
       </div>
      </li>
      <li class="list-item">
        <div class="list-item-content">
          <h3 class="list-item-content-title">Titre</h3>
          <p class="list-item-content-description">Description</p>
        </div>
        <div class="list-item-actions">
          <button class="actionIcon"><i class="lucca-icon">edit</i></button>
          <button class="actionIcon"><i class="lucca-icon">trash</i></button>
       </div>
      </li>
      <li class="list-item">
        <div class="list-item-content">
          <h3 class="list-item-content-title">Titre</h3>
          <p class="list-item-content-description">Description</p>
        </div>
        <div class="list-item-actions">
          <button class="actionIcon"><i class="lucca-icon">edit</i></button>
          <button class="actionIcon"><i class="lucca-icon">trash</i></button>
       </div>
      </li>
    </ul>
<code class="code mod-block">&lt;ul class="list"&gt;
  &lt;li class="list-item"&gt;
    &lt;div class="list-item-content"&gt;
      &lt;h3 class="list-item-content-title"&gt;...&lt;/h3&gt;
      &lt;p class="list-item-content-description"&gt;...&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="list-item-actions"&gt;
      &lt;button class="actionIcon"&gt;&lt;i class="lucca-icon"&gt;edit&lt;/i&gt;&lt;/button&gt;
      &lt;button class="actionIcon"&gt;&lt;i class="lucca-icon"&gt;trash&lt;/i&gt;&lt;/button&gt;
   &lt;/div&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;
</code>
    <em><i class="lucca-icon">info</i> Supprimez <code class="code">list-item-actions</code> pour laisser toute la largeur aux contenus</em>
  </div>
</div>

<div class="card mod-grey">
  <div class="card-content">
    <h2>Cliquable</h2>
    <ul class="list">
  		<li class="list-item mod-clickable">
  			<div class="list-item-content">
  				<h3 class="list-item-content-title">Titre</h3>
  				<p class="list-item-content-description">Description</p>
  			</div>
  			<div class="list-item-actions">
  				<button class="actionIcon"><i class="lucca-icon">edit</i></button>
  				<button class="actionIcon"><i class="lucca-icon">trash</i></button>
  			</div>
  		</li>
  		<li class="list-item mod-clickable">
  			<div class="list-item-content">
  				<h3 class="list-item-content-title">Titre</h3>
  				<p class="list-item-content-description">Description</p>
  			</div>
  			<div class="list-item-actions">
  				<button class="actionIcon"><i class="lucca-icon">edit</i></button>
  				<button class="actionIcon"><i class="lucca-icon">trash</i></button>
  		 </div>
  		</li>
	  </ul>

<code class="code mod-block">&lt;ul class="list"&gt;
	&lt;li class="list-item mod-clickable"&gt;
		&lt;div class="list-item-content"&gt;
			&lt;h3 class="list-item-content-title"&gt;...&lt;/h3&gt;
			&lt;p class="list-item-content-description"&gt;...&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="list-item-actions"&gt;
			&lt;button class="actionIcon"&gt;&lt;i class="lucca-icon"&gt;edit&lt;/i&gt;&lt;/button&gt;
			&lt;button class="actionIcon"&gt;&lt;i class="lucca-icon"&gt;trash&lt;/i&gt;&lt;/button&gt;
	 &lt;/div&gt;
	&lt;/li&gt;
	...
&lt;/ul&gt;
</code>

  	<em><i class="lucca-icon">info</i> Placez la zone cliquable sur <code class="code">list-item</code></em><br>
  	<em><i class="lucca-icon">info</i> Pour éviter un clic à la fois sur  <code class="code">list-item</code> et <code class="code">actionIcon</code>, vous pouvez appliquer <code class="code">.preventDefault()</code> & <code class="code">.stopPropagation()</code> sur <code class="code">actionIcon</code></em><br>
  	<em><i class="lucca-icon">info</i> Il est possible d'utiliser une structure en <code class="code">div</code> / <code class="code">a</code></em>
  </div>
</div>
