@import "~@lucca-front/scss/src/theming.overridable";

:host {
  display: block;
  color: _color("text.purple");
  cursor: pointer;
  padding: .5rem .5rem .5rem 1.5rem;
  position: relative;
  transition: all 150ms ease;

  &:hover, &:focus, &:active {
    outline: none;
    background: _theme('commons.background.dark');
    color: _color("text.purple", "dark");
  }

  &.is-active {
    background: _theme('commons.background.dark');
    color: _color("text.purple", "darker");

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      background: _color("text.purple");
    }

    .navSide-sub {
      display: block;
    }
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.navSide-sub {
  display: none;
  padding: .5rem;
}

.navSide-sub-item {
  display: block;
  font-size: _theme("sizes.small.font-size");
  color: _color("text.purple");
  text-decoration: none;
  padding: .15rem 0;

  &:hover {
    opacity: .67;
  }
}

:host-context(app-nav-side-group) {
  left: 2rem;
    padding: .5rem .5rem .5rem 1rem;
}
