<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Icones d'action</h1>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Basique</h2>
    <p>Vous pouvez remplacer la ligature par n'importe quelle <a routerLink="/components/icons">icone</a>.</p>
  	<button class="actionIcon"><i class="lucca-icon">edit</i></button>
  	<button class="actionIcon"><i class="lucca-icon">trash</i></button>
  	<button class="actionIcon"><i class="lucca-icon">star</i></button>
  	<button class="actionIcon"><i class="lucca-icon u-textError">hearth</i></button>
<code class="code mod-block">&lt;button class="actionIcon"&gt;
	&lt;i class="lucca-icon"&gt;hearth&lt;/i&gt;
&lt;/button&gt;</code>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Disabled</h2>
    <button class="actionIcon" disabled><i class="lucca-icon">edit</i></button>
    <button class="actionIcon" disabled><i class="lucca-icon">trash</i></button>
    <button class="actionIcon" disabled><i class="lucca-icon">star</i></button>
    <button class="actionIcon" disabled><i class="lucca-icon u-textError">hearth</i></button>
<code class="code mod-block">&lt;button class="actionIcon" disabled&gt;
  &lt;i class="lucca-icon"&gt;heart&lt;/i&gt;
&lt;/button&gt;</code>
    <em><i class="lucca-icon">info</i> Vous pouvez désactiver un icon d'action avec la classe <code class="code">is-disabled</code>, mais vous ne pourrez plus utiliser de tooltip</em>
  </div>
</div>
