<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Loadings</h1>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Basique</h2>
    <div class="loading"></div>
<code class="code mod-block">&lt;div class="loading"&gt;&lt;/div&gt;</code>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Label</h2>
    <div class="loading">Loading...</div>
  <code class="code mod-block">&lt;div class="loading"&gt;Loading...&lt;/div&gt;</code>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Block</h2>
    <p>Le mod "block" permet d'afficher un chargement sur une section entière.</p>
    <div class="loading mod-block">Loading...</div>
<code class="code mod-block">&lt;div class="loading mod-block"&gt;Loading...&lt;/div&gt;</code>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <label class="label palette-primary">To do ⛏️</label> mod invert
  </div>
</div>
