<div class="card">
  <div class="card-content">
    <h1>Product vision</h1>
    <p class="strong">Chocolate cake muffin jelly-o apple pie chocolate bar chupa chups muffin lollipop. Pudding pastry candy tootsie roll cheesecake carrot cake danish lemon drops bonbon. </p>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h2>Gummies tart bear</h2>
    <p>Apple pie lemon drops oat cake marzipan chocolate bar. Dessert pastry sweet liquorice candy canes wafer ice cream pastry chocolate. Ice cream fruitcake cheesecake liquorice sesame snaps jelly pudding oat cake gummies.</p>
    <p>Candy canes macaroon muffin jelly beans icing cheesecake jelly-o chocolate cake jelly-o. Gummies tart bear claw biscuit chupa chups apple pie powder ice cream cheesecake. Gummies sugar plum sweet roll candy canes.</p>
    <p>Toffee biscuit soufflé marzipan bear claw. Lemon drops caramels ice cream bear claw. Lemon drops sweet roll jelly-o cookie.</p>
  </div>
</div>
