<div class="textfield">
	<lu-select [(ngModel)]="selectedExample" class="textfield-input">
		<div *luDisplayer="let value">{{value.title}}</div>
		<lu-option-picker>
			<lu-option *ngFor="let example of examples" [value]="example">{{example.title}}</lu-option>
		</lu-option-picker>
	</lu-select>
	<label class="textfield-label">Exemples</label>
</div>

<div class="example-display" *ngIf="selectedExample">
	<p class="description" *ngIf="selectedExample.description">
		{{selectedExample.description}}
	</p>
	<ds-code-tabs [example]="selectedExample"></ds-code-tabs>
	<ng-container class="extra-infos" *ngIf="selectedExample.extra">
		<em><i class="lucca-icon">info</i> {{selectedExample.extra}}</em>
	</ng-container>
</div>
