.tool {
  display: inline-block;
  padding: 0 0 0 4rem;
  margin: 0 3rem 1rem 0;
  position: relative;
}

.tool-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;

  &:hover {
    opacity: .9;
  }
}

.tool-title {
  margin: 0;
}
