<app-splash></app-splash>
<div class="container">
  <div class="grid u-marginBottomBig">
    <div class="grid-md4">
      <a routerLink="/content" class="card mod-clickable">
        <div class="card-content">
          <h2>Content</h2>
          <p>Donut chupa chups tart. Chocolate cake caramels biscuit chocolate bar ice cream.</p>
        </div>
      </a>
    </div>
    <div class="grid-md4">
      <a routerLink="/visual" class="card mod-clickable">
        <div class="card-content">
          <h2>Visual</h2>
          <p>Donut chupa chups tart. Chocolate cake caramels biscuit chocolate bar ice cream.</p>
        </div>
      </a>
    </div>
    <div class="grid-md4">
      <a routerLink="/components"  class="card mod-clickable">
        <div class="card-content">
          <h2>Components</h2>
          <p>Donut chupa chups tart. Chocolate cake caramels biscuit chocolate bar ice cream.</p>
        </div>
      </a>
    </div>
  </div>
  <app-home-footer></app-home-footer>
</div>
