<app-splash></app-splash>
<div class="container mod-xl">
  <div class="grid u-marginBottomBig">
    <div class="grid-lg3 grid-md6">
      <a routerLink="/principles" class="card mod-clickable mod-visual">
        <div class="card-visual" style="background-image:url(https://cdn.dribbble.com/users/288987/screenshots/1822458/low_poly_blue_1x.jpg)"></div>
        <div class="card-content">
          <h2>Principes</h2>
          <p>Donut chupa chups tart. Chocolate cake caramels biscuit chocolate bar ice cream.</p>
        </div>
      </a>
    </div>
    <div class="grid-lg3 grid-md6">
      <a routerLink="/content" class="card mod-clickable mod-visual">
        <div class="card-visual" style="background-image:url(https://cdn.dribbble.com/users/288987/screenshots/2416384/exodus_1x.png)"></div>
        <div class="card-content">
          <h2>Contenu</h2>
          <p>Donut chupa chups tart. Chocolate cake caramels biscuit chocolate bar ice cream.</p>
        </div>
      </a>
    </div>
    <div class="grid-lg3 grid-md6">
      <a routerLink="/visual" class="card mod-clickable mod-visual">
        <div class="card-visual" style="background-image:url(https://cdn.dribbble.com/users/26059/screenshots/760127/scene01_africa.jpg)"></div>
        <div class="card-content">
          <h2>Visuel</h2>
          <p>Donut chupa chups tart. Chocolate cake caramels biscuit chocolate bar ice cream.</p>
        </div>
      </a>
    </div>
    <div class="grid-lg3 grid-md6">
      <a routerLink="/components" class="card mod-clickable mod-visual">
        <div class="card-visual" style="background-image:url(https://cdn.dribbble.com/users/4515/screenshots/2127092/littlehousedribble_1x.jpg)"></div>
        <div class="card-content">
          <h2>Composants</h2>
          <p>Donut chupa chups tart. Chocolate cake caramels biscuit chocolate bar ice cream.</p>
        </div>
      </a>
    </div>
  </div>
  <app-home-footer></app-home-footer>
</div>
