<app-splash></app-splash>
<div class="container">
  <div class="grid">
    <div class="grid-md4">
      <a routerLink="/content" class="card mod-clickable">
        <div class="card-content">
          <h2>Content</h2>
          <p>Donut chupa chups tart. Chocolate cake caramels biscuit chocolate bar ice cream.</p>
        </div>
      </a>
    </div>
    <div class="grid-md4">
      <a routerLink="/visual" class="card mod-clickable">
        <div class="card-content">
          <h2>Visual</h2>
          <p>Donut chupa chups tart. Chocolate cake caramels biscuit chocolate bar ice cream.</p>
        </div>
      </a>
    </div>
    <div class="grid-md4">
      <a routerLink="/components"  class="card mod-clickable">
        <div class="card-content">
          <h2>Components</h2>
          <p>Donut chupa chups tart. Chocolate cake caramels biscuit chocolate bar ice cream.</p>
        </div>
      </a>
    </div>
  </div>

  <div class="grid u-marginTopBig">
    <div class="grid-md3">
      <h3>Want to mockup?</h3>
      <a>Use our Figma's library</a>
    </div>
    <div class="grid-md3">
      <h3>Need an evolution?</h3>
      <a href="https://github.com/LuccaSA/lucca-front" target="_blank">Contribute on GitHub</a>
    </div>
    <div class="grid-md6 u-textRight">
      <a>How can I help?</a>
    </div>
  </div>
</div>
