<div class="card">
  <div class="card-dependencies">
    <label class="label palette-scss">SCSS</label>
  </div>
  <div class="card-content">
    <h1 class="mod-headline">Templates</h1>
  </div>
</div>

<div class="card">
  <div class="card-content">
  	<div class="grid">
  		<div class="grid-xs6">
  			<h2>Avec menu vertical</h2>
  			<ul>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/fullmenu.html" target="_blank">Menu admin</a></li>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side.html" target="_blank">Menu compact</a></li>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side-cards.html" target="_blank">Menu compact avec cards</a></li>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side-sections.html" target="_blank">Menu compact avec sections</a></li>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side-header.html" target="_blank">Menu compact avec header</a></li>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side-sections-header.html" target="_blank">Menu compact avec sections & header</a></li>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side-filters.html" target="_blank">Menu compact avec filtres</a></li>
  			</ul>
  		</div>
  		<div class="grid-xs6">
  			<h2>Sans menu vertical</h2>
  			<ul>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside.html" target="_blank">Basique</a></li>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside-cards.html" target="_blank">Avec cards</a></li>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside-sections.html" target="_blank">Avec sections</a></li>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside-header.html" target="_blank">Avec header</a></li>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside-sections-header.html" target="_blank">Avec sections & header</a></li>
  				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside-filters.html" target="_blank">Avec filtres</a></li>
  			</ul>
  		</div>
  	</div>
  </div>
</div>
