$palettes: (
	primary: (
		color: #8B89CE,
		text: #FFFFFF,
		see-through: rgba(#8B89CE, .15),
		dark: darken(#8B89CE, 5%),
		darker: darken(#8B89CE, 15%),
		light: lighten(#8B89CE, 5%),
		lighter: lighten(#8B89CE, 20%),
		lightest: lighten(#8B89CE, 30%)
	),
	prisme: (
		color: #F5F7FF,
		text: #8B89CE,
		see-through: rgba(#F5F7FF, .15),
		dark: #EFF1FC,
		darker: #E2E7FF,
		light: lighten(#F5F7FF, 3%),
		lighter: lighten(#F5F7FF, 5%),
		lightest: lighten(#F5F7FF, 7%)
	),
	scss: (
		color: #E696BE,
		text: #FFFFFF,
		see-through: rgba(#E696BE, .15),
		dark: darken(#E696BE, 5%),
		darker: darken(#E696BE, 20%),
		light: lighten(#E696BE, 5%),
		lighter: lighten(#E696BE, 20%),
		lightest: lighten(#E696BE, 42%)
	),
	ng: (
		color: #42A5F5,
		text: #FFFFFF,
		see-through: rgba(#42A5F5, .15),
		dark: darken(#42A5F5, 5%),
		darker: darken(#42A5F5, 20%),
		light: lighten(#42A5F5, 5%),
		lighter: lighten(#42A5F5, 20%),
		lightest: lighten(#42A5F5, 42%)
	),

);

$colors: (
	text: (
		"purple": (
      "color": #8B89CA,
      "dark": darken(#8B89CA, 5%),
      "darker": darken(#8B89CA, 20%)
    ),
		dark: (
			color: #444444
		),
		default: (
			color: #666666
		),
		light: (
			color: #acabbb
		),
		placeholder: (
			color: #bdbdca
		)
	),
);
$theme: _set($theme, "palettes", $palettes);
$theme: _set($theme, "colors", $colors);
