<app-header></app-header>
<app-nav-side>
  <app-nav-side-item routerLink="logos" class="is-active">Logos <label class="label palette-primary">To do</label></app-nav-side-item>
  <app-nav-side-item routerLink="colors">Colors <label class="label palette-primary">To do</label></app-nav-side-item>
  <app-nav-side-item routerLink="typography">Typography <label class="label palette-primary">To do</label></app-nav-side-item>
</app-nav-side>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<footer class="tipFooter">
  ...
</footer>
