<app-header></app-header>
<app-nav-side>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="logos">Logos <label class="label palette-primary">To do</label></app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="colors">Colors <label class="label palette-primary">To do</label></app-nav-side-item>
  <app-nav-side-item [routerLinkActive]="['is-active']" routerLink="typography">Typography <label class="label palette-primary">To do</label></app-nav-side-item>
</app-nav-side>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<footer class="tipFooter">
  ...
</footer>
